<a href="https://colab.research.google.com/github/natelson/python/blob/main/miscellaneous/dict_miscellaneous.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Miscellaneous about dictionaries in Python

>> Dictionary : {}

Dictionary is group of pairs of data values each pair have two parts

Dictionary key and data value {key1:value1, key2:value 2, etc….}

>>> Example:

User_name_and_car_color = { “David”:”red”, “John”:”green”, ”Sara”: “yellow”}

In order to declare a dictionary we use dict() method

>>> User_name_and_car_color = dict(David = red, John = green, Sara = yellow)

{“David”:”red”, “John”:”green”, ”Sara”: “yellow”}

## Get value by key

In [ ]:
def get_value_by_key(key):
  pack_definition = {'Bread' : 'bag', 'Beer' : 'bottle', 'Candy': 'plastic'}
  if key not in pack_definition:
    return 'None'
  
  return pack_definition[key]


def get_value_by_key_python_solution(key):
  pack_definition = {'Bread' : 'bag', 'Beer' : 'bottle', 'Candy': 'plastic'}
  return pack_definition.get(key)


print(get_value_by_key('Bread'))
print(get_value_by_key('Beer'))
print(get_value_by_key('Candy'))
print(get_value_by_key('Cheese'))

print(get_value_by_key_python_solution('Bread'))
print(get_value_by_key_python_solution('Beer'))
print(get_value_by_key_python_solution('Candy'))
print(get_value_by_key_python_solution('Cheese'))

bag
bottle
plastic
None
bag
bottle
plastic
None

# Dict is empty?

In [ ]:
def dict_is_empty(dic_to_analyse):
  if len(dic_to_analyse) == 0 :
    return True
  
  return False

def dict_is_empty_python_solution(dic_to_analyse):
  return not dic_to_analyse

dict_empty = {}
print(dict_is_empty(dict_empty))
print(dict_is_empty_python_solution(dict_empty))

dict_with_elements = {'apple': 'red', 'avocato': 'green'}
print(dict_is_empty(dict_with_elements))
print(dict_is_empty_python_solution(dict_with_elements))

True
True
False
False

# Define the volume of the box

In [ ]:
def volume_of_box(dict_dimensions):
  return dict_dimensions['width'] * dict_dimensions['length'] * dict_dimensions['height']

def volume_of_box_python_solution(dict_dimensions):
  w, l, h = dict_dimensions.values()
  return w * l * h

box = {'width': 10, 'length': 5, 'height': 8}
print(volume_of_box(box))
print(volume_of_box_python_solution(box))

400
400

# number within the giver range?

In [ ]:
def number_within_range(number, dict_min_max):
  min, max = dict_min_max.values()
  return  min <= number <= max

number_within_range(5, {'min': 6, 'max': 7})

False

## Facts about the city

In [ ]:
def return_facts(dict_about_city):
  return '{} has a population of {} and is situated in {}'.format(dict_about_city.get('name'), dict_about_city.get('population'), dict_about_city.get('continent'))


city = {'name': 'New York', 'population': '8,419 millions', 'continent': 'North America'}

print(return_facts(city))   

city = {'name': 'Sao Paulo', 'population': '11 millions', 'continent': 'South America'}

print(return_facts(city))

New York has a population of 8,419 millions and is situated in North America
Sao Paulo has a population of 11 millions and is situated in South America

## Lower and upper case dict

In [ ]:
def dict_of_string(word):
  dict_lower_upper_case = {}
  for letter in word:
    dict_lower_upper_case[letter.lower()] = letter.upper()
  
  return dict_lower_upper_case

print(dict_of_string('Python'))

{'p': 'P', 'y': 'Y', 't': 'T', 'h': 'H', 'o': 'O', 'n': 'N'}

# Sum of budgeting of my clients

In [ ]:
def sum_of_budgeting(list_dict_clients):
  total_budget = 0
  for client in list_dict_clients:
    total_budget+= client.get('budgeting')
  
  return total_budget

def sum_of_budgeting_python_solution(list_dict_clients):
  return sum(client['budgeting'] for client in list_dict_clients)

clients = [{'client': 'Uncle Scrooge', 'budgeting' : 50000}, {'client': 'Thomas Wayne', 'budgeting' : 500000}, {'client': 'Lex Luthor', 'budgeting' : 800000}]
print(sum_of_budgeting(clients))
print(sum_of_budgeting_python_solution(clients))

1350000
1350000

## Order a dictionary of students

In [ ]:
def order_students(dict_of_students):
  return sorted(dict_of_students.values())

students = {'Student1': 'John', 'Student2': 'Abdu', 'Student3': 'Katy', 'Student4': 'Stuart' }

print(order_students(students))

['Abdu', 'John', 'Katy', 'Stuart']

## How many points I have?

In [ ]:
def maximum_points_in_hand(list_dict_tile):
  return sum(hand['score'] for hand in list_dict_tile)


my_hand = [ { "tile": "N", "score": 1 },
  { "tile": "K", "score": 5 },
  { "tile": "Z", "score": 10 },
  { "tile": "X", "score": 8 },
  { "tile": "D", "score": 2 },
  { "tile": "A", "score": 1 },
  { "tile": "E", "score": 1 }]


print(maximum_points_in_hand(my_hand))

28

## How many letters and digits

In [ ]:
def count_letters_and_digits(phrase):
  digits = 0
  letters = 0
  for character in phrase:
    if str(character).isdigit():
      digits += 1
    elif str(character).isalpha():
      letters +=1
  
  return {'digits': digits, 'letters': letters}


def count_letters_and_digits_python_solution(phrase):
  return {'digits': sum(1 for character in phrase if character.isdigit()), 
          'letters': sum(1 for character in phrase if character.isalpha())}


phrase = "Python is the number 1 modern language from 4 programming languages"
print(count_letters_and_digits(phrase))
print(count_letters_and_digits_python_solution(phrase))

{'digits': 2, 'letters': 55}
{'digits': 2, 'letters': 55}

## Frequency of a list

In [ ]:
def get_frequencies(list_of_values):
  unique_list = list(set(list_of_values))
  print(unique_list)
  dict_frequency = {unique_list[i] : 0 for i in range(len(unique_list))}

  for i in list_of_values:
    dict_frequency[i] += 1

  return dict_frequency


def get_frequencies_python_solution(list_of_values):
  return {x:list_of_values.count(x) for x in list_of_values}

print(get_frequencies(["A", "B", "A", "A", "A"]))

['B', 'A']
{'B': 1, 'A': 4}

## Round of total values

In [ ]:
def total_profit(dict_of_products):
  total_profit = (dict_of_products['inventory'] * (dict_of_products['sell_price'] - dict_of_products['cost_price'])) 
  return int(round(total_profit,0))

profit = { "cost_price": 32.67, "sell_price": 45.00, "inventory": 1200}

print(total_profit(profit))

14796

## Exist key?

In [ ]:
def exist_key(dict_of_elements, key):
  return key in dict_of_elements

profit = { "cost_price": 32.67, "sell_price": 45.00, "inventory": 1200}

print(exist_key(profit, 'value'))
print(exist_key(profit, 'cost_price'))

False
True

## Greetings

In [5]:
def say_hi(list_of_guests, name_of_guest):
  return "Hi! I'm {}, and I'm from {}.".format(name_of_guest, list_of_guests.get(name_of_guest))


guest_list = { "Emmma": "Germany", "Adalene": "France", "shushin": "Japan", "Robert": "England", "Tamer": "Egypt"}

print(say_hi(guest_list, "Emmma"))
print(say_hi(guest_list, "Adalene"))

Hi! I'm Emmma, and I'm from Germany.
Hi! I'm Adalene, and I'm from France.

## Filter by rating

In [10]:
def filter_by_rating(dict_of_ratings, rating):
  return {k:v for k,v in dict_of_ratings.items() if v ==rating } or 'No results found'


dict_of_ratings = {
  "Watermelon" : "*****",
  "Apple" : "****",
  "Grapes" : "*****",
  "Tomato" : "***"}

print(filter_by_rating(dict_of_ratings,"*****" ))

{'Watermelon': '*****', 'Grapes': '*****'}

# Value of my grosserie

In [13]:
def total_value_grosserie(list_dict_of_products):
  total = 0
  for dict_item in list_dict_of_products:
    total += dict_item['quantity'] * dict_item['price']
  return total


def total_value_grosserie_python_solution(list_dict_of_products):
  return round(sum([i['price'] * i['quantity'] for i in list_dict_of_products]), 1)



my_products = [
               {
  "product": "Milk",
  "quantity": 1,
  "price": 2
},
{
  "product": "Rice",
  "quantity": 1,
  "price": 8
}
]

print(total_value_grosserie(my_products))
print(total_value_grosserie_python_solution(my_products))

10
10

## One Dict --> Two Lists

In [16]:
def change_dict_to_list(original_dict):
  return list(original_dict.keys()), list(original_dict.values())

guest_list = { "Emmma": "Germany", "Adalene": "France", "shushin": "Japan", "Robert": "England", "Tamer": "Egypt"}

print(change_dict_to_list(guest_list))

(['Emmma', 'Adalene', 'shushin', 'Robert', 'Tamer'], ['Germany', 'France', 'Japan', 'England', 'Egypt'])